################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/API
/API/obj
/API/.vs/ProjectEvaluation
/API/bin
/API/Properties
/exampleOfAsync
/GeminiConsoleApp/.vs
/GeminiConsoleApp/bin/Debug/net8.0
/GeminiConsoleApp/obj
/WebApplication1/.vs
/WebApplication1/obj/Debug/net8.0
/WebApplication1/obj
/WebApplication1/Properties
/WebApplication1/wwwroot/lib
